<!DOCTYPE html>
<html>
<head>
	<title>simple cms - <%= @page_title  ||  "صفحه اصلی"  %> </title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <%= stylesheet_link_tag    "application", media: "all" %>
</head>
<body>
     <%=  yield %>

<%= javascript_include_tag("application") %>    
</body>
</html>